<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/signin/">
    <!-- Login CSS -->
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='login.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>
    <!-- Used for presenting flashed messages -->
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %} 
          {% for category, message in messages %}
              <div class="{{ category }}" role="alert">
                {{ message }}
              </div>  
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% if error %}
        <div class="alert alert-danger" role="alert">
          <strong> Error.</strong> {{ error }} <a href="{{ url_for('register') }}" class="alert-link">here.</a>
        </div>
      {% endif %}

      <!-- Login form -->
      <form class="form-signin" method="POST">
        {{ form.csrf_token }}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username">Username</label>
        {{ form.username (class_="form-control") }}
        <label for="password">Password</label>
        {{ form.password (class_="form-control") }}
        <a href="{{ url_for('register') }}">Haven't got an account? Sign up here.</a>
        {{ form.submit(class='btn btn-primary btn-block', placeholder="Sign in") }}
      </form>
    </div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
